<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="./../../static/css/styles.css" /> -->
    <link rel="stylesheet" href="./../css/styles.css" />
    <title>Create Author</title>
  </head>

  <body>
    <header class="header">
      <h1 class="header__title">Create News</h1>
    </header>

    <section id="form">
      <form class="form form__container" action="/news/create" method="POST">
        <div class="form__inputs flex-direction--column font-size-medium">
          <div class="form__tittle form__column margin-bottom--1">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" placeholder="News tittle" />
          </div>
          <div class="form__author form__column margin-bottom--1">
            <label for="idAuthor">Author</label>
            <select name="idAuthor" id="idAuthor">
              <option value=null selected hidden >Choose an Author</option>
              <option th:each="author: ${authors}" th:value="${author.id}" th:text="${author.name}"></option>
            </select>
          </div>
          <div class="form__body form__column margin-bottom--1">
            <label for="body">Body</label>
            <textarea class="form__textarea" id="body" name="body" placeholder="News body"></textarea>
          </div>
        </div>
        <button type="submit" class="form__submit margin-bottom--1">Submit</button>
      </form>
      <div th:if="${error != null}" class="form__messages">
        <div class="form__error message message-error">
          <h5>Error ☹️</h5>
          <p th:text="${error}"></p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <button class="footer__back button">
        <a href="/news">Back</a>
      </button>
    </footer>
  </body>
</html>
