<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../css/styles.css" />
    <title>Admin Menu</title>
  </head>

  <body>
    <header class="header">
      <h1 class="header__title">Admin</h1>
    </header>

    <nav class="menu__nav container">
      <ul class="menu__navigation margin-bottom--4">
        <li class="button">
          <a href="/news/register">Create a News</a>
        </li>
        <li class="button">
          <a href="/news/search">Search a News</a>
        </li>
        <li class="button">
          <a href="/news/list">Show News List</a>
        </li>
        <li class="button">
          <a href="/author/register">Create an Author</a>
        </li>
        <li class="button">
          <a href="/author/search">Search an Author</a>
        </li>
        <li class="button">
          <a href="/author/list">Show Author List</a>
        </li>
      </ul>
    </nav>

    <footer class="footer">
      <a class="footer__back button" href="/">Back</a>
    </footer>
  </body>
</html>
